@keyframes color-change {
    0% {
        color: blue;
    }

    25% {
        color: purple;
    }

    50% {
        color: red;
    }

    75% {
        color: yellowgreen;
    }

    100% {
        color: cyan;
    }
}

body {
    background-color: #ccc;
}

#container {
    background-color: #afdffd;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

#top {
    font-size: larger;
    color: #348f2f;
    text-align: center;
}

#middle, #bottom {
    padding: 10px 20px;
}

h1, h2 {
    font-size: xx-large;
    color: #d0ffb0;
}

h1:hover, h2:hover {
    animation: color-change 3s infinite;
}

p {
    color: #c26464;
}

a:hover {
    animation: color-change 3s infinite;
}